@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('/fonts/Paperlogy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  @apply font-pretendard text-body1 font-normal;
}

h1 {
  @apply text-h1 font-semibold;
}

h2 {
  @apply text-h2 font-semibold;
}

h3 {
  @apply text-h3 font-semibold;
}

a {
  @apply cursor-pointer;
}
